<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShameOnYou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE1A38C41CEF77F4003644BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE1A38DD1CEF77F5003644BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE1A38E81CEF77F5003644BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
